<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<input id="lookup-guid" type="string" placeholder="Look up fish via ID">
<button id="btn-lookup">Lookup</button>
<!-- TODO use QR code -->

<script>
    document.getElementById('btn-lookup').addEventListener('click', () => {
        const guid = document.getElementById('lookup-guid').value
        window.location.search = `guid=${guid}`
        // Redirect!
    })
</script>

{# Verify fish has data #}
{% if fish|length > 1 %}

<br>
<!-- TODO Make this better -->
<h1>You have a <em>
    {% if fish[1].speciesId == '1' or fish[1].speciesId == 1 %}
    TROUT
    {% elif fish[1].speciesId == '2' or fish[1].speciesId == 2 %}
    CATFISH
    {% elif fish[1].speciesId == '3' or fish[1].speciesId == 3 %}
    TUNA
    {% endif %}
    </em>
    (GUID {{fish[0].guid}})
</h1>

<ul>
{% for event in fish %}
<li class="fish-event">
    This fish was
    <strong>
    {% if event.consumption == '0' or event.consumption == 0 %}
    MINTED
    {% elif event.consumption == '1' or event.consumption == 1 %}
    FISHED
    at {{ event.caughtLat }}, {{ event.caughtLong }}
    {% elif event.consumption == '2' or event.consumption == 2 %}
    SOLD
    {% elif event.consumption == '3' or event.consumption == 3 %}
    CONSUMED
    {% endif %}
    </strong>
    <em>
        <script>
            document.write(dayjs().to(dayjs({{event.timestamp}} * 1000)))
        </script>
    </em>
</li>
{% endfor %}
</ul>

{% endif %}

<pre style="display:none">
{{fish}}
</pre>

{% endblock %}
